<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Login UI Suite" verbose="1">
    <test name="Login scenarios">
        <classes>
            <class name="com.salesforce.automation.tests.ValidLoginTest"/>
            <class name="com.salesforce.automation.tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
